#banner{
    height: 100vh;
    background-color: rgba(21, 3, 3, 0.897);
}
#text-banner{
    font-size: 5rem;
}
#text-explore{
    transition: all 0.3s ease-in-out;
}
#text-explore:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 3px 1px white;
}
@media screen and (min-width:577px) and (max-width:992px){
    #banner{
        height:50vh;
    }
    #text-banner{
    font-size: 3rem;
}
    
}
@media screen and (max-width:576px){
    #banner-item{
        height:50%;
    }
    #text-banner{
    font-size: 2rem;
}
    
}