header{
    background-color: rgb(50, 4, 4);
    box-shadow: 0px 1px 5px 1px white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* hover */
.nav-link:hover{
    color: rgb(52, 52, 2) !important;
    transition: all .3s ease-in-out;
}
.bi-cart2:hover{
    background: rgb(104, 72, 14);
}
#box-search{
    background: rgba(243, 197, 197, 0.429);
    color: white;
}
#box-search::placeholder{
    color: white;
}
.offcanvas{
    background-color: rgb(50, 4, 4);
}
.nav-item{
            transition: all .4s ease-in-out;
        }
        .nav-item:hover{
            background-color: rgba(0, 0, 252, 0.432);
            padding-left: 15px;
            transition: all .4s ease-in-out;
        }
        /* tablet */
        @media screen and (min-width:577px) and (max-width:992px){
            .offcanvas{
                width: 50% !important;
            }
        }